<!DOCTYPE html>
<html lang="ru">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Пользователь', 'Количество комментариев'],
          {% for pos, num in data.items() %}
              ['{{ pos }}', {{ num }}],
          {% endfor %}
        ]);
        var options = {
          title: 'Распределение комментариев'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>

<body>
<a href="/">На главную</a>.
	<form method='post'>
		<h1>Название группы (ID)</h1>
		<input type="text" placeholder="Например, 64292596, или aniplaytv" name="group_id">
		<br>
		<input type="submit" value="Получить список 10 самых активных комментаторов">
		<p>Можете пока налить себе чаю, обработка запроса займет около 3 минут</p>
	</form>
	{% if result %}
	<div id="piechart" style="width: 900px; height: 500px;"></div>
		<h1>Группа: {{ group_id }}</h1>
		<ul>
		{% for person in result %}
			<li>{{ person }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if group_id %}
		<p>{{ group_id }}</p>
	{% endif %}
</body>
</html>
