<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Zsite</title>
</head>
<body>
<h2>Привет, меня зовут Залина!</h2>
<h2>Давай познакомимся поближе.</h2>
<p>Исходный код сайта находится по ссылке: <a href="intended.pythonanywhere.com">intended.pythonanywhere.com </a>.</p>
<p>На этом сайте вы можете получить некоторую информацию о глаголах в нужном вам тексте. Это можно сделать <a href="/zmystem">тут.</a></p>
<p>Также <a href="/groupleaders">тут</a> вы можете получить небольшую статистику из социальной сети ВКонтакте.</p>
<p><a href="/sub">Здесь</a> вы можете провести поиск по нашей базе субтитров.</p>
</body>
</html>
